@media all and (max-width: 500px) {
  .filter-options h2 {
    text-indent: -9999px;
  }
  .filter-options h2:before {
    display: inline-block;
    position: absolute;
    text-indent: +9999px;
    content: attr(data-short);
  }
}
