#restaurants-list li {
  max-width: calc(33.3% - 30px);
}

#restaurants-list .restaurant-container {
  flex-direction: column;
}

#restaurants-list .restaurant-container picture,
#restaurants-list .restaurant-container .restaurant-info {
  max-width: 100%;
  min-width: 0;
}

#restaurants-list .restaurant-container picture {
  flex-grow: 0;
}

#restaurants-list .restaurant-container .restaurant-info {
  margin-left: 0;
  flex-grow: 1;
}

.inside main {
  flex-direction: row;
}

.inside #map-container {
  height: 100%;
  width: 50%;
}

.inside #restaurant-name {
  margin-top: 0;
}

@media all and (min-width: 1500px) {
  header,
  footer,
  main {
    max-width: 1500px;
    left: calc(50vw - 750px);
  }
}