@charset "utf-8";
/* CSS Document */

/* CSS custom properties */
:root {
  --core-header-height: 50px;
  --core-breadcrumb-height: 0px;
  --core-footer-height: 25px;
  --core-map-height: 35vh;
  --core-dark-accent-color: #b50404;
}

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  height: 100vh;
}
ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}
a {
  color: orange;
  text-decoration: none;
}
a:hover,
a:focus {
  /* color: #3397db; */
  text-decoration: none;
  box-shadow: 0px 0px 15px 2px black;
}
a img {
  border: none 0px #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
figure {
  display: block;
}
#maincontent {
  background-color: #f3f3f3;
}

figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--core-header-height);
  width: 100%;
  background-color: #252831;
}

.offline header:before {
  content: url(../icons/offline.svg);
  position: absolute;
  top: 30%;
  bottom: 0;
  right: 30px;
  /* color: red; */
  /* background-color: green; */
}

#review-form-container input:focus,
#review-form-container textarea:focus,
#review-form-container select:focus,
.filter-options select:focus,
footer a:focus,
header a:focus {
  box-shadow: 0px 0px 15px 2px white;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: var(--core-footer-height);
  width: 100%;
  display: flex;
  background-color: #333;
}

footer p {
  width: 100%;
  margin: auto 0;
  align-self: center;
  color: white;
  font-size: 8pt;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

/* local breakpoint */
@media all and (max-width: 500px) {
  footer p {
    font-size: 6pt;
    text-transform: initial;
  }
}

a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
a.skip-main:focus,
a.skip-main:active {
  color: #fff;
  background-color: #000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 4px solid yellow;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}

/* ====================== Navigation ====================== */
nav {
  display: flex;
  height: 100%;
  text-align: center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* local breakpoint */
@media all and (max-width: 500px) {
  nav h1 a {
    letter-spacing: 3px;
  }
}

#breadcrumb {
  box-sizing: border-box;
  display: flex;
  height: var(--core-breadcrumb-height);
  width: 100%;
  margin: 0;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
  margin: auto 0;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #004e92;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== General Layouting of the main section  ====================== */
main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(var(--core-header-height) + var(--core-breadcrumb-height));
  height: calc(
    100vh - var(--core-header-height) - var(--core-footer-height) -
      var(--core-breadcrumb-height)
  );
  width: 100%;
}

#map-container {
  height: 30vh;
  flex-grow: 0;
  flex-shrink: 0;
}

#results,
#restaurant-info-container {
  flex: 1 1 100%;
  width: 100%;
  overflow-y: scroll;
}

/* ====================== Pictures (shared)  ====================== */
.restaurant-picture {
  display: block;
  position: relative;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  flex-grow: 0;
}

#restaurant-img figure {
  position: relative;
}

#restaurant-img figcaption {
  display: inline-block;
  position: absolute;
  top: 18%;
  right: 0;
  padding: 5px 20px;
  background-color: #333;
  color: orange;
}

.restaurant-picture img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

/* ====================== Map ====================== */
#map {
  height: 100%;
  width: 100%;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  min-height: 50px;
  background-color: #3397db;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.filter-options h2 {
  color: black;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  display: none; /* unhide with higher width */
  text-indent: -9999px;
}

.filter-options h2:before {
  display: none;
  position: absolute;
  text-indent: +9999px;
  content: attr(data-short);
}

/* local breakpoint */
@media all and (min-width: 500px) {
  .filter-options h2 {
    display: inline-block;
  }
  .filter-options h2:before {
    display: inline-block;
  }
}

.filter-selectors {
  display: flex;
  flex-wrap: wrap;
}
#review-form-container select,
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  max-width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
#restaurants-list li {
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin: 15px;
  display: block;
  flex: 1 1 100%;
  padding: 0 30px 25px;
  text-align: left;
  max-width: 100%;
}
#restaurants-list .restaurant-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#restaurants-list .restaurant-info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 1;
}

#restaurants-list .restaurant-info p:last-of-type {
  margin-bottom: 15px;
}

#restaurants-list li h2 {
  color: var(--core-dark-accent-color);
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: var(--core-dark-accent-color);
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside {
  --core-breadcrumb-height: 35px;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: var(--core-dark-accent-color);
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 10px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}
#restaurant-container,
#reviews-container {
  padding: 0 40px 30px;
}
#reviews-container h3 {
  color: var(--core-dark-accent-color);
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  margin-bottom: 10px;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
#reviews-list li p {
  margin: 0 0 10px;
}

.reviews-header {
  display: flex;
  justify-content: space-between;
}

.reviews-header button {
  display: flex;
  align-items: center;
  align-self: center;
  vertical-align: top;
  height: 2rem;
  padding: 5px;
  background-color: white;
  border-width: 0;
  border-radius: 0;
}

#review-form-container:not(.form-visible) {
  transition: all 0.3s ease-out;
  max-height: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
  opacity: 1;
}

#review-form-container {
  transition: all 0.3s ease-out;
  transform-origin: top left;
  max-height: 100vh;
  opacity: 1;
}

#review-form-container label,
#review-form-container input {
  transition: all 0.2s;
}

#review-form-container {
  background-color: #3397db;
  padding: 10px;
  margin-bottom: 10px;
}

#review-form-container .formline {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  margin-bottom: 0.5em;
}

#review-form-container .formline.no-label-move {
  flex-wrap: nowrap;
}

#review-form-container .formline.no-label-move label {
  color: white;
}

#review-form-container .formline.no-label-move :not(label) {
  max-width: 100%;
  flex-basis: 100%;
}

#review-form-container .formline.actions {
  justify-content: flex-end;
}

#review-form-container input[type="submit"] {
  border-width: 0;
  background-color: white;
  border-radius: 0;
  padding: 5px;
}

#review-form-container input:not([type="submit"]),
#review-form-container textarea {
  box-sizing: border-box;
  width: 100%;
  height: 1.8rem;
  border-width: 0 0 2px 0;
  border-color: #333;
  background-color: white;
  font-size: 1rem;
  padding: 0 5px;
  margin: 10px 0;
}

#review-form-container textarea {
  height: auto;
}

#review-form-container input:not(:placeholder-shown) + label,
#review-form-container textarea:not(:placeholder-shown) + label,
#review-form-container textarea:focus + label,
#review-form-container input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  color: white;
}

#review-form-container input:placeholder-shown + label,
#review-form-container textarea:placeholder-shown + label {
  color: #333;
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(5px, 35px) scale(1.3); 
}

#review-form-container input:not([type="submit"]):focus,
#review-form-container textarea:focus {
  border-color: black;
  box-shadow: 0px 0px 15px 2px white;
}

#restaurant-hours td {
  color: #666;
}

.like {
  position: absolute;
  display: block;
  padding: 5px 20px;
  border: 0;
  top: 5%;
  right: 0;
  color: red;
  background-color: rgb(99, 0, 0);
  transition: all 0.3s ease-in-out;
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.like:before {
  content: "♡";
  margin-right: 5px;
}

.like.favorite {
  color: rgb(99, 0, 0);
  background-color: red;
}
.like.favorite:before {
  content: "♥";
  margin-right: 5px;
}
